<h1>My tasks</h1>

<% @tasks.each do |t| %>
  <% if t.completed %>
      <p><i class="far fa-check-square"></i><%= link_to t.title, task_path(t) %></p>
  <% else %>
      <p><i class="far fa-square"></i><%= link_to t.title, task_path(t) %></p>
  <% end %>
  <%= link_to "Delete", task_path(t.id), method: :delete, data: { confirm: "Are you sure?"}  %>
<% end %>
