<h1>My tasks</h1>

<% @tasks.each do |t| %>
  <% if t.completed %>
      <p><i class="far fa-check-square"></i><%= link_to t.title, task_path(t) %></p>
  <% else %>
    <div class="task-item">
      <p><i class="far fa-square"></i><%= link_to t.title, task_path(t) %></p>
    </div>
  <% end %>
<% end %>
